<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.skaiwalk.media_controller">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service
            android:name=".NotificationListener"
            android:label="Media Controller Plugin"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>
